<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
    <head>
        <link href="https://gmpg.org/xfn/11" rel="profile">
        <meta charset="utf-8">
        <title>{{ .Site.Title }}</title>
    </head>

    <body lang="{{ .Site.Language.Lang }}">

        <!-- Below works as expected -->
        {{ with .Site.GetPage "post-2" }}
            {{ printf "Title of a post-2 post: %s" .Title }}<br />
        {{ end }}

        <!-- Below works as expected -->
        {{ with .Site.GetPage "foo/x/post-1" }}
            {{ printf "Title of a foo/x/post-1 post: %s" .Title }}<br />
        {{ end }}

        <!-- Below works as expected -->
        {{ with .Site.GetPage "bar/x/post-1" }}
            {{ printf "Title of a bar/x/post-1 post: %s" .Title }}<br />
        {{ end }}

        <!-- Below works as expected -->
        {{ with .Site.GetPage "/posts/foo/x" }}
            {{ printf "Title of /posts/foo/x: %s" .Title }}<br />
            <!-- Below works because post-1 is *directly under* /posts/foo/x/ -->
            {{ with .GetPage "post-1" }}
                {{ printf "Title of /posts/foo/x/post-1: %s" .Title }}<br />
            {{ end }}
            <!-- Below works because post-2 is *directly under* /posts/foo/x/ -->
            {{ with .GetPage "post-2" }}
                {{ printf "Title of /posts/foo/x/post-2: %s" .Title }}<br />
            {{ end }}
        {{ end }}

        <!-- But this fails! -->
        {{ with .Site.GetPage "/posts/foo" }}
            <!-- We are now in the context of /posts/foo -->
            {{ printf "Title of /posts/foo: %s" .Title }}<br />
            <!-- One would expect that below should work as there's a unique "post-1" in this context.
                 The problem is that below raises an ambiguity error based on another "post-1" present *outside*
                 the context of /posts/foo/.
            -->
            {{ with .GetPage "post-1" }}
                {{ printf "Title of a post-1 post in /posts/foo context: %s" .Title }}<br />
            {{ end }}
        {{ end }}

        <!-- And surprisingly this works! (post-2 is not in the context of /posts/bar) -->
        {{ with .Site.GetPage "/posts/bar" }}
            {{ with .GetPage "post-2" }}
                {{ printf "Title of a post-2 post anywhere in Site: %s" .Title }}<br />
            {{ end }}
        {{ end }}

    </body>
</html>
